*{
    padding: 0;
    margin:0;
    box-sizing: border-box;

}

body{
    font-family: Arial;
    font-size: 62.5%;
    font-size: 1rem;
}

.post{
    cursor:pointer;
    position: relative;
    display: block;
    width: 20rem;
}

.post-image img{
    width: 100%;
    vertical-align: top;
}

.post-overlay{
    background-color: rgba(0,0,0,0.4);
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    display: none;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
}

.post:hover .post-overlay{
    display: flex;
}

.post-likes, .post-comments{
    width: 80px;
    margin: 5px;
    font-weight: bold;
    text-align: center;
    display: inline-block;
}